/*Estilos de Checkout.jsx*/
#checkoutContainer {
    display: flex;
    justify-content: space-evenly;
}

#checkoutContainer > div {
    width: 35%;
}


/*Estilos de Order.jsx*/
#orderContainer {
    background-color: rgb(230, 227, 227);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

#totalPayment {
    margin-top: auto;
    font-size: 18px;
}

.orderLine, #totalPayment {
    display: flex;
    justify-content: space-between;
}


/*Estilos de BuyerForm.jsx*/
#buyerForm {
    background-color: rgb(230, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

#buyerForm input {
    margin-bottom: 15px;
}


/*Estilos de Success.jsx*/
#successContainer {
    background-color: rgb(230, 227, 227);
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#gifContainer {
    width: 80%;
    padding: 10px 0;
}



@media screen and (max-width: 660px) {
    #checkoutContainer {
        flex-direction: column;
        align-items: center;
    }
    
    #checkoutContainer > div {
        width: 80%;
    }

    #orderContainer {
        margin-bottom: 5%;
    }
}