#checkoutContainer {
    display: flex;
    justify-content: space-evenly;
}

#orderContainer {
    background-color: rgb(230, 227, 227);
    padding: 20px;
    border-radius: 10px;
}

#buyerForm {
    background-color: rgb(230, 227, 227);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    border-radius: 10px;
}

#buyerForm input {
    margin-bottom: 15px;
}

#successContainer {
    background-color: rgb(230, 227, 227);
    width: 90%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

#gifContainer {
    width: 80%;
    padding: 10px 0;
}